body {
    margin: 0;
    background-color: #f0eee8;
}


header {
    background-color: #293444;
    color: #f0eee8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 35px;
    padding-bottom: 31px;
    border-bottom: 4px solid #1b1b1b;
}
#logo {
    margin: 0 auto;
    padding: 0px 12px;
    font-size: 42px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 18px;
    color: #293444;
    background-color: #f0eee8;
    border: 4px solid #1b1b1b;
    border-radius: 8px;
}
header nav {
    display: inline-block;
    margin: 0 auto;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header li {
    display: inline;
}
ul a {
    color: #1F2937;
    text-decoration: none;
    font-size: 20px;
}
.navLeft {
    border-top: 4px solid #1b1b1b;
    border-bottom: 4px solid #1b1b1b;
    border-left: 4px solid #1b1b1b;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #f0eee8;
    padding: 4px 12px;
}
ul .navLeft:hover, ul .navLeft:focus {
    color: #f0eee8;
    background-color: #5B7185;
    text-decoration: none;
}
.navMiddle {
    border: 4px solid #1b1b1b;
    background-color: #f0eee8;
    padding: 4px 12px;
}
ul .navMiddle:hover, ul .navMiddle:focus {
    color: #f0eee8;
    background-color: #5B7185;
    text-decoration: none;
}
.navRight {
    border-top: 4px solid #1b1b1b;
    border-bottom: 4px solid #1b1b1b;
    border-right: 4px solid #1b1b1b;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f0eee8;
    padding: 4px 12px;
}
ul .navRight:hover, ul .navRight:focus {
    color: #f0eee8;
    background-color: #5B7185;
    text-decoration: none;
}


main article {
    text-align: center;
    border: 4px solid #1F2937;
    border-radius: 8px;
    margin: 50px auto;
    max-width: 800px;
    background-color: #5B7185;
}
article img {
    width: 600px;
    border: 4px solid #1F2937;
    border-radius: 8px;
}
#myProjectsLink {
    color: #f0eee8;
    font-size: 28px;
    margin-bottom: 28px;
    display: inline-block;
    text-decoration: none;
}
#myProjectsLink:hover, #myProjectsLink:focus {
    text-decoration: underline;
}
main p, main h2 {
    color: #f0eee8;
    font-size: 28px;
    margin: 28px;
}


footer {
    text-align: center;
    background-color: #293444;
    border-top: 4px solid #1b1b1b;
}
footer p {
    padding: 30px 0;
    color: #f0eee8;
    margin: 0;
}