body {
    margin: 0;
    background-color: #f3f1ee;
}
header {
    background-color: #1F2937;
    color: #F9FAF8;
}
#logo {
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 42px;
    color: #F9FAF8;
    text-decoration: none;
    display: inline-block;
}
header ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    text-align: center;
}
header li {
    display: inline;
}
ul a {
    color: #1F2937;
    background-color: #F9FAF8;
    text-decoration: none;
    margin-right: 30px;
    padding: 4px;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    font-size: 20px;
}
ul a:hover, ul a:focus {
    color: #F9FAF8;
    background-color: gray;
    text-decoration: none;
    margin-right: 30px;
    padding: 4px;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
}
main article {
    text-align: center;
    border: 3px solid #1F2937;
    border-radius: 8px;
    margin: 50px auto;
    max-width: 800px;
    background-color: #acbef2;
}
article img {
    width: 200px;
    border: 3px solid #1F2937;
    border-radius: 8px;
}
#myProjectsLink {
    color: #F9FAF8;
    font-size: 28px;
    margin-bottom: 28px;
    display: inline-block;
    text-decoration: none;
}
#myProjectsLink:hover, #myProjectsLink:focus {
    text-decoration: underline;
}
main p, main h2 {
    color: #F9FAF8;
    font-size: 28px;
    margin: 28px;
}
footer {
    text-align: center;
    background-color: #1F2937;
}
footer p {
    padding: 30px 0;
    color: #F9FAF8;
    margin: 0;
}
main div {
    margin: 1000px;
}